.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.about-us-navbar {
  width: 100%;
  display: flex;
  position: relative;
  font-size: 30px;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 29px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.about-us-navlink {
  display: contents;
}
.about-us-text {
  color: #ffffff;
  font-size: 40px;
  font-family: Share Tech;
  text-transform: capitalize;
  text-decoration: none;
}
.about-us-desktop-menu {
  display: flex;
  justify-content: center;
}
.about-us-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-us-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-link1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-us-view {
  text-decoration: none;
}
.about-us-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.about-us-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-hero {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.about-us-lottie-node {
  width: 40%;
  height: 40%;
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-heading {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.about-us-header {
  width: 100%;
  height: 100%;
  font-size: 70px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-family: Share Tech;
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 3px;
}
.about-us-text06 {
  color: #ffffff;
}
.about-us-text07 {
  color: #ffffff;
}
.about-us-text09 {
  color: #2cff01;
}
.about-us-text10 {
  color: #ffffff;
}
.about-us-text12 {
  font-size: 25px;
  text-align: justify;
}
.about-us-text13 {
  color: #ffffff;
}
.about-us-text16 {
  color: #ffffff;
}
.about-us-text19 {
  color: #ffffff;
}
.about-us-text22 {
  color: #ffffff;
}
.about-us-text25 {
  color: #ffffff;
}
.about-us-text28 {
  color: #ffffff;
}
.about-us-text31 {
  color: #ffffff;
}
.about-us-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 1600px) {
  .about-us-text13 {
    color: #ffffff;
  }
  .about-us-text16 {
    color: #ffffff;
  }
  .about-us-text19 {
    color: #ffffff;
  }
  .about-us-text22 {
    color: #ffffff;
  }
  .about-us-text25 {
    color: #ffffff;
  }
  .about-us-text28 {
    color: #ffffff;
  }
  .about-us-text31 {
    color: #ffffff;
  }
}
@media(max-width: 1200px) {
  .about-us-text12 {
    font-size: 23px;
  }
}
@media(max-width: 991px) {
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-btn-group {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
  }
  .about-us-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .about-us-logo {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-family: Share Tech;
    font-weight: 600;
  }
}
@media(max-width: 767px) {
  .about-us-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-heading {
    gap: var(--dl-space-space-unit);
  }
  .about-us-header {
    font-size: 36px;
    max-width: 70%;
    font-style: normal;
    font-family: Share Tech;
    font-weight: 500;
    line-height: 43px;
  }
  .about-us-text06 {
    color: #ffffff;
  }
  .about-us-text07 {
    color: #ffffff;
  }
  .about-us-text08 {
    color: #ffffff;
  }
  .about-us-text09 {
    color: #22ff00;
  }
  .about-us-text10 {
    color: #ffffff;
  }
  .about-us-text12 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .about-us-navbar {
    padding: var(--dl-space-space-unit);
  }
  .about-us-mobile-menu {
    padding: 16px;
  }
  .about-us-text13 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text14 {
    font-size: 20px;
  }
  .about-us-text15 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text16 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text17 {
    font-size: 20px;
  }
  .about-us-text18 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text19 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text20 {
    font-size: 20px;
  }
  .about-us-text21 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text22 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text23 {
    font-size: 20px;
  }
  .about-us-text24 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text25 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text26 {
    font-size: 20px;
  }
  .about-us-text27 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text28 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text29 {
    font-size: 20px;
  }
  .about-us-text30 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text31 {
    color: #ffffff;
    font-size: 20px;
  }
  .about-us-text32 {
    font-size: 20px;
  }
}
