.footer-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.footer-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.footer-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.footer-caption {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-list {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-heading1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.footer-items {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer-socials1 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-copyright {
  color: rgb(255, 255, 255);
  font-size: 12px;
}


@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .footer-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-heading {
    gap: var(--dl-space-space-unit);
  }
  .footer-logo {
    font-size: 20px;
    line-height: 24px;
  }
  .footer-caption {
    width: 80%;
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    display: none;
  }
  .footer-links {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    justify-content: flex-start;
  }
  .footer-list {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-socials1 {
    display: flex;
  }
}
